.rootBackground{
	-fx-background-color:#f9bfff;
}
.rootChild{
	-fx-background-color:#FF420E;
	-fx-background-radius : 20px;
	-fx-border-radius : 20px;
}
.aside{
	-fx-background-color:#80BD9E;
}
.activityDetail{
	-fx-background-color:#89DA59;
}
.greenButton{
	-fx-background-color:inherit;
	-fx-border-color : #007E33;
	-fx-text-fill : #007E33;
	-fx-border-width : 2px;
	-fx-border-radius : 5px;
	-fx-background-radius:5px;
}
.greenButton:hover{
	-fx-background-color :#007E33;
	-fx-text-fill:white;
}
.orangeButton{
	-fx-background-color:inherit;
	-fx-border-color : #ffbb33;
	-fx-text-fill : #ffbb33;
	-fx-border-width : 2px;
	-fx-border-radius : 5px;
	-fx-background-radius:5px;	
}
.orangeButton:hover{
	-fx-background-color :#ffbb33;
	-fx-text-fill:white;
}
.redButton{
	-fx-background-color:inherit;
	-fx-border-color : #CC0000;
	-fx-text-fill : #CC0000;
	-fx-border-width : 2px;
	-fx-border-radius : 5px;
	-fx-background-radius:5px;	
}
.redButton:hover{
	-fx-background-color :#CC0000;
	-fx-text-fill:white;
}
Label{
	-fx-text-fill:#748bf2;
}